<configuration xmlns:patch="www.sitecore.net/xmlconfig">
  <sitecore>
    <pipelines>
      <mvc.requestBegin>
        <processor type="IPVirtualUser.Custom.Pipelines.InternalSecurityCheck, IPVirtualUser">
          <database>web</database>
          <internalAccessItem></internalAccessItem>
        </processor>
      </mvc.requestBegin>
    </pipelines>
  </sitecore>
</configuration>